body {
  font-family: monospace;
}

p {
  font-color: #595959;
}

h4 {
  font-weight: bolder;
}

.currentRestaurant .btn {
  margin-top: 10px;
  border: none;
  background: transparent;
  color: #2d5986;
  cursor: pointer;
}

button:hover {
  color: black;
  cursor: pointer;
}

h1.title {
  color: #ff8566;
  border-bottom: 2px solid #bfbfbf;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.title span {
  font-size: 18px;
  font-style: italic;
}

h4.restaurant span {
  font-size: 16px;
  font-style: italic;
  font-weight: lighter;
}

.reviewForm{
  width: 30%;
}

.reviews {
  font-style: italic;
  padding-left: 10px;
  font-size: 12px;
}

.reviewTitle {
  border-bottom: 1px solid #bfbfbf;
  padding-top: 20px;
  font-size: 16px;
  width: 90%;
  color: #ff8566;
}
